.Demo {
    padding-left: 90px;
    display: grid;
    grid: 300px / auto auto auto;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 4px;
}

.Card h3 {
    text-align: center;
}

.Links a {
    display: grid;
    justify-content: center;
}